.top_class {
    background-color: rgb(219, 125, 238);
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}
/************************************** css start for marquee  **********************************************/
.Loc_goback {
    background-color: rgb(228, 207, 235);
    /* position: fixed; */
}
.topper {
    float: right;
    margin-bottom: 5px;
    background-color: #04AA6D;
    color: #eee;
    border-width: 0ch;
    font-size: small;
    cursor: pointer;
    height: auto;
    /* width: 25%; */
    /* position: fixed; */
}
marquee {
    width: 80%;
    letter-spacing: 1px;
}

.marquee_class {
    width: 90%;
    color: black;
    filter: contrast(150%);
}
.news {
    margin-left: 120px;
}
.holy_day {
    margin: 0px 0px 0 70px;
    color: #000000;
    ;
}

.bottom {
    margin-left: 0;
    color: #000000;
    filter: contrast(250%);
}
.other_news {
    margin-left: 120px;
}

/************************************** css start for animation  **********************************************/
.img_animation {
    width: 100%;
    height: 440px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: changeImage 10s ease-in-out infinite;
}
@keyframes changeImage {
    0% {
        background-image: url('/public/photo_staff.jpg');
    }

    25% {
        background-image: url('/public/photo_girls.jpg');
    }

    50% {
        background-image: url('/public/small_main_photo.jpg');
    }

    75% {
        background-image: url('/public/no_color_img.jpg');
    }

    100% {
        background-image: url('/public/offic.jpeg');
    }
}
/************************************** css start for about_college  **********************************************/
.about_college {
    background-color: #f3ecf6;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.about_college .about_home_p {
    margin-left: 1.5%;
    line-height: 25px;
    text-align: justify;
    /* if i remove this then i get randome text like this css code */
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18px;
    width: 85%;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.principal_sir_img {
    height: 240px;
    width: 352px;
    margin: 10px 25px 10px -10px;
    display: block;
    box-shadow: -2px -2px 1px 2px rgba(209, 191, 31, 0.15), 2px 2px 10px 2px rgb(124, 98, 98);
    border-radius: 3px;
}
/************************************** css start for map and query  **********************************************/
/************************************** css start for map  **********************************************/
.map_feedbacl {
    background-color: #E9E0E9;
    display: flex;
    align-items: stretch;
    position: relative;
    margin-bottom: 5px;
}
.current_location iframe {
    height: 100%;
    width: 550px;
}
/************************************** css start for form  **********************************************/
.h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: #000000;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

label {
    font-size: auto;
    margin-left: 10px;
}
.homeInputes {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    margin-left: 10px;
}
.map_feedbacl input[type=submit],
.map_feedbacl input[type=reset] {
    background-color: #04AA6D;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    border-width: 0;
    margin-right: 25px;
    width: auto;
    float: right;
    cursor: pointer;
}
.map_feedbacl input[type=reset] {
    background-color: brown;
}
.check {
    margin-left: 10px;
}

/************************************** css for mobile   **********************************************/
@media screen and (max-width:1204px) {
    .all_artical {
        margin: 10px;
    }

    .img_animation {
        height: 300px;
    }

    .about_college {
        background-color: #f3ecf6;
        display: inline;
        width: 100%;
        justify-content: space-between;
    }

    .about_college .about_home_p {
        font-size: large;
        width: 100%;
        margin-left: 0;
    }

    .principal_sir_img {
        width: 97%;
        height: auto;
        margin-left: 5px;
    }
    .map_feedbacl {
        display: inline;
        width: 98%;
    }
    .current_location iframe {
        width: 100%;
        height: 450px;
    }
    .check {
        margin: 10px;
    }
    .map_feedbacl input[type=submit],
    .map_feedbacl input[type=reset] {
        padding: 20px;
        display: inline;
        font-size: large;
        margin-bottom: 100px;
        width: 95%;
        line-height: 10px;
        margin-left: 10px;
        float: left;
        margin-bottom: 1px;
    }

}
