body {
    margin: 0;
    padding: 0;
    position: relative;
}

.flex_wala {
    background-color: #ad03ad;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    color: white;
    text-transform: capitalize;
}

.col-3 {
    width: 25%;
}

 .flex_wala h1 {
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

 .flex_wala ul li {
    display: block;
    line-height: 1.9rem;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    cursor: pointer;
    line-height: 35px;

}
.flex_wala ul li:hover {
    color: #8DE838;
    text-decoration: underline;
}

.myname {
    text-align: right;
    color: rgb(253, 189, 248);
    margin: 0%;
    margin-right: 3px;
    font-family: monospace;
    background-color: #cd33ec;
}

@media screen and (max-width:1204px) {
    h1 {
        display: none;
    }

    .row {
        background-color: #cd33ec;
        margin-top: 110px;
        text-align: center;

    }

    .row .flex_wala ul li {
        margin-left: 180%;
        text-decoration: line;
    }

    .row .flex_wala {
        display: inline;
        background-color: #ad03ad;
        text-align: center;
    }

    .row .flex_wala ul li .nonmobile {
        display: none;
    }

    /* .footy{
        width:100%; 
        height: auto; 
    }
    .col-3{
        width: 100%;
       }  
       .mobilestack{
        align-items: 25px;
    } 
    .widthhalf{
        width: 10%;
    }
        /* i have not write about the mobile  */


    /*.row .flex_wala h1{
        font-size: 20px;
         margin-left: 25px;
         position: relative;
    }
     .row .flex_wala ul li{
         font-size: 15px;
         padding: 0;
         line-height: 23px;
    }
     .myname{
        font-size: 8px;
    }  */
}